body {
    background-color: lightblue;
}
.signin{
   
    width: 700px;
    height: 500px;
    border: lightblue 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 200px auto;
    background: #FFF4ED;

}
#login_signin {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
    font-family: 'Righteous', cursive;
}
#pass_signin {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
    font-family: 'Righteous', cursive;
}
.name {
    display: flex;

    padding: 20px 10px;
    text-align: center;
  }
  .name h2 {
    font-family: 'Righteous', cursive;
    position: relative;
    color: #3CA1D9; 
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    padding: 11px 60px;
    margin: 0; 
    line-height: 1;
    text-transform: uppercase;
  }
  #button_signin {
    border-radius: 4px;
    background-color: rgb(104, 187, 140);
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 8px 16px;
    margin: 20px auto;
    font-family: 'Righteous', cursive;
  }
  .link {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: 'Righteous', cursive;
      font-size: 16px;

  }