body {
  background-image: url(img/blue-abstract-background-png.png);
  background-size: cover;
}
.wrapper {
  min-height: 100vh;
  font-family: sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Righteous", cursive;
  position: relative;
  color: #3ca1d9;
  display: inline-block;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 3em;
  padding: 11px 60px;
  margin: 50 auto;
  line-height: 1;
  text-transform: uppercase;
  align-items: center;
}
.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name,
.description {
  font-family: "Righteous", cursive;
  font-size: 1em;
  margin-bottom: 20px;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.349);
}
.description {
  height: 100px;
  resize: vertical;
}
.flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0 auto;
}
.tasklist {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-top: 2px solid #3ca1d9;
  border-bottom: 2px solid #3ca1d9;
}
h5,
p {
  margin: 10px;
}
h4 {
  font-family: "Righteous", cursive;
  font-size: 2em;
  text-transform: uppercase;
  color: #3ca1d9;
  margin-bottom: 20px;
}
h5 {
  font-family: "Righteous", cursive;
  font-size: 1.5 em;
  text-transform: uppercase;
  color: rgb(26, 68, 184);
  margin-bottom: 20px;
  flex-basis: 20%;
  white-space: nowrap;
}
.diskriptionTasks {
  display: block;
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Righteous", cursive;
  font-size: 1em;
  overflow: auto;
  margin: 10px;
  flex-basis: 70%;
  line-height: 25px;
}
button {
  border-radius: 4px;
  background-color: rgb(104, 187, 140);
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 8px 16px;
  margin: 10px auto;
  font-family: "Righteous", cursive;
}
.allTasks {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 70%; */
}
